
<h1>Edit Sub</h1>
<a href="<%= sub_url(@sub) %>">Return to Sub Page</a>


<form action="<%= sub_url(@sub) %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="PATCH">

  <label>Title 
  <input type="text" name="sub[title]" value="<%= @sub.title %>">
  </label>

  <label>Description 
  <textarea name="sub[description]" id="" cols="30" rows="10"><%= @sub.description %></textarea>
  </label>

  <button type="submit">Create Sub</button>
 
</form>